'.source.js':
   'Track Ad Impression':
     'prefix': 'sptrackadimp'
     'body' : '${1:snowplow_name_here}(\'trackAdImpression\', ${2:impressionId}, ${3:costmodel}, ${4:cost}, ${5:targetUrl}, ${6:bannerId}, ${6:zoneId}, ${7:advertiserId}, ${8:campaignId}, ${9:context});$0'
