'.source.js':
   'Track Ad Click':
     'prefix': 'sptrackadclick'
     'body' : '${1:snowplow_name_here}(\'trackAdClick\', ${2:targetUrl}, ${3:clickId}, ${4:costModel}, ${5:cost}, ${6:bannerId}, ${7:zoneId}, ${8:impressionId}, ${9:advertiserId}, ${10:campaignId}, ${11:context});$0'
